*{
    user-select: none;
}
::-webkit-scrollbar { 
    display: none; 
}
.custom{
    margin-top: 20px;
}
.hidden-on-start{
    display: none;
}
#text{
    height: 250px;
}
#button-back{
    margin-bottom: 10px;
    margin-left: -20px;
    font-size: 45px; 
}
#button-agree,
#button-none,
#button-disagree,
#button-start{
    color: white;
}
ol{
    margin-top: 10px;
    font-size: 15px;
}
.parties-list{
    margin-top: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#div{
    display: none;
}
.partiesOpinion{
    width: 33%;
}
.opinionTitle{
    border-bottom: 1px solid black;
    margin: 10px;
}
#explanationText{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
details{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
details p{
    margin-left: 5%;
}
#button-parties{
    color: rgb(66, 134, 244);
}